@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

.contpri{
	background-color: blue ;
	color: white;
	font-family: 'Krona One', sans-serif;
	font-family: 'Russo One', sans-serif;
    font-family: 'Lexend Peta', sans-serif;
}
.contsecun{
	background-color: red;
	font-family: 'Krone One', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Lexend Peta', sans-serif;
}
.contenter{
	background-color: green;
	font-family: 'Krone One', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Lexend Peta', sans-serif;
}
li{
list-style: none;
float: left;
padding: 15px;
	}

a{
	text-decoration: none;
	color: Blue;
	font-size: 20px;
}

li:hover{
	background-color: #FA8072;
	border-radius: 15px;
	}

section{
	background-color:#62A6E3;
	color:white;
	text-decoration:underline;
	text-align:center;
	}
	{
    box-sizing: border-box;
}
nav a
{
    margin-left: 7.5px;
    margin-right: 7.5px;
  
}
.container
{
    width: 1170px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    
}

